# Ambientes
venv/
.env/

# Arquivos de ambiente
*.pyc
__pycache__/

# Configurações do editor
.idea/
.vscode/

# Arquivos locais
parser/ast.o
parser/codegen.o
parser/tabela.o
src/parser.tab.c
src/parser.tab.h
src/lex.yy.c
src/parser.tab.o
src/lex.yy.o
src/otimizador.o
output.c
saida.c

# Binários
bin/parser